@typeparam TEntity
@page "/search"
@using MusicApp.Media
@* @inject SearchService searchService *@

<div class="searchbar">
    <input class="search-input" @bind="queryText" placeholder="search music" />
    <button class="search-button" @onclick=OnSearchClicked><i class='bx bx-search'></i></button>
</div>



@* @if (queryText != null)
{
    <ul>
    @foreach (var item in queryText)
        {
            <li>@item.Title - @item.Subtitle</li>
        }
    </ul>
} *@




@code 
{
    [Parameter]
    public List<TEntity> Items {get; set;}
    
    [Parameter]
    public EventCallback<string> OnSearch {get; set;}

    private string queryText;

    private async Task OnSearchClicked()
    {
        await OnSearch.InvokeAsync(queryText);
    }
}

<style>

.searchbar{
    display: block;
}

.search-input {
    border: 1px solid #ccc;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    padding-left: 30px;
    font-size: 12px;
}


.search-button {
  background-color: transparent;
  color: #000;
  padding: 10px;
  cursor: pointer;
  border: none;
  position: absolute;
  align-self: start;
  justify-self: start;
  margin-top: -11px;
}

.search-button .bx {
  font-size: 16px;
}


</style>